include README.rst
include LICENSE
include straditize/widgets/icons/*.png
include straditize/widgets/docs/*.rst
include straditize/widgets/docs/*.png
include straditize/widgets/tutorial/*/*.rst
include straditize/widgets/tutorial/*/*.png
